{% extends "base.html" %}

{% block app_content %}
<main class="text-center form-signin">
    <form class="form-signin" method="POST" action="/auth/signup">
        <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Фамилия">
            <label for="last_name">Фамилия</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Имя">
            <label for="first_name">Имя</label>
        </div>

        <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            <label for="email">Email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
            <label for="password">Пароль</label>
        </div>

        <div class="select">
            <label for="role" class="form-label">Выберите роль:</label>
            <select class="form-select" id="role" name="role">
                <option value="student" selected>Ученик</option>
                <option value="teacher_w">Учитель</option>
            </select>
        </div>

        <button class="w-100 btn btn-lg btn-orange" type="submit">Регистрация</button>
    </form>
</main>
{% endblock %}