{% extends "base.html" %}

{% block app_content %}
<main>
    <h3 class="h3 mt-3 mb-3 fw-normal text-center">Результаты</h3>

    <div>
        <table class="table table-striped table-hover text-center">
            <thead class="text-white" style="background-color: #FB8C5C">
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Название теста</th>
                    <th scope="col">Количество вопросов</th>
                    <th scope="col">Количество ошибок</th>
                    <th scope="col">Оценка</th>
                </tr>
            </thead>
            <tbody>
                {% for number, test_name, t_count, i_count, mark in results %}
                <tr style="vertical-align:middle">
                    <th scope="row">{{number}}</th>
                    <td>{{ test_name }}</td>
                    <td>{{ t_count }}</td>
                    <td>{{ i_count }}</td>
                    <td>{{ mark }}</td>
                </tr>
                {% endfor %}
                
            </tbody>

        </table>
    </div>
</main>

{% endblock %}