{% extends "base.html" %}

{% block app_content %}
<div class="container d-flex flex-column align-items-center questions">
    <h3 class="h3 mt-3 mb-3 fw-normal text-center">{{ test.name }}</h3>

    {% for question in test.question_array %}
    <div class="question form-question form-question-disabled" id="question{{ loop.index0}}">
        <form>
            <fieldset disabled>
                <div class="mb-3">
                    <label for="question_text" class="form-label">Текст вопроса</label>
                    <input type="text" class="form-control" id="question_text" name="question_text"
                        value="{{ question.question_text }}">
                </div>

                <div class="mb-3">
                    <label for="attachment_url" class="form-label">Ссылка на вложение (например, изображение)</label>
                    <input type="text" class="form-control" id="attachment_url" name="attachment_url"
                        value="{{ question.attachment_url }}">
                </div>

                <label class="form-label">Ответы</label>
                <div class="form-answers" id="answers">
                    {% set count = question.generation_seed.count %}
                    {% for answer in question.answer_array %}
                    <div class="answer input-group mb-3">
                        <div class="input-group-text">
                            {% if loop.index0 < count %} <input type="checkbox" class="answer-check form-check-input mt-0"
                                name="chanswer_{{loop.index0}}" value="" checked>
                                {% else %}
                                <input type="checkbox" class="answer-check form-check-input mt-0" name="chanswer_{{loop.index0}}"
                                    value="">
                                {% endif %}
                        </div>
                        <input type="text" class="answer-text form-control" name="answer_{{loop.index0}}" value="{{ answer }}">
                    </div>
                    {% endfor %}

                    <button type="button" class="btn btn-add-answer btn-sm btn-navy" style="line-height:1">Добавить ответ</button>

                </div>
            </fieldset>
            <div class="d-grid gap-2 d-md-flex justify-content-md-between">
                <button class="btn btn-navy btn-save-question" type="submit" disabled>Сохранить</button>
                <button class="btn btn-orange btn-edit-question" type="button">Редактировать</button>
            </div>
        </form>

    </div>
    {% endfor %}

    <div class="question_example form-question" hidden>
        <form>
            <fieldset>
                <div class="mb-3">
                    <label for="question_text" class="form-label">Текст вопроса</label>
                    <input type="text" class="form-control" id="question_text" name="question_text">
                </div>

                <div class="mb-3">
                    <label for="attachment_url" class="form-label">Ссылка на вложение (например, изображение)</label>
                    <input type="text" class="form-control" id="attachment_url" name="attachment_url">
                </div>

                <label class="form-label">Ответы</label>
                <div class="form-answers" id="answers">
                    <div class="answer input-group mb-3">
                        <div class="input-group-text">
                            <input type="checkbox" class="answer-check form-check-input mt-0" name="chanswer_0" value="">
                        </div>
                        <input type="text" class="answer-text form-control" name="answer_0" value="{{ answer }}">
                    </div>

                    <button type="button" class="btn btn-add-answer btn-sm btn-navy" style="line-height:1">Добавить ответ</button>
                </div>

            </fieldset>
            <div class="d-grid gap-2 d-md-flex justify-content-md-between">
                <button class="btn btn-navy btn-save-question" type="submit">Сохранить</button>
                <button class="btn btn-orange btn-edit-question" type="button" disabled>Редактировать</button>
            </div>
        </form>
    </div>

    <div class="answer_example input-group mb-3" hidden>
        <div class="input-group-text">
            <input type="checkbox" class="answer-check form-check-input mt-0" name="" value="">
        </div>
        <input type="text" class="answer-text form-control" name="d" value="{{ answer }}">
    </div>

</div>
<div class="container d-grid gap-2 d-md-flex justify-content-md-start" style="width:70%">
    <button class="btn btn-outline-navy js-add-question" type="button">Добавить вопрос</button>
</div>
{% endblock %}

{% block scripts%}
<script>
    var count_questions = {{ count_questions }};

    // кнопка добавления вопроса
    var button_add = document.querySelector('.js-add-question');
    button_add.addEventListener("click", function () {
        var questions = document.querySelector('.questions');
        var form_question = document.querySelector('.question_example').cloneNode(true);
        form_question.classList.add('question');
        form_question.classList.remove('question_example');
        form_question.hidden = false;

        var new_id = "question" + count_questions;
        form_question.id = new_id;

        var add_btn = form_question.querySelector('.btn-add-answer');
        add_btn.addEventListener("click", add_answer);

        questions.appendChild(form_question);

        var edit_btn = form_question.querySelector('.btn-edit-question');
        edit_btn.addEventListener("click", set_edit);

        var applicantForm = form_question.firstElementChild
        applicantForm.addEventListener('submit', handleFormSubmit)
        count_questions += 1;
    });

    // настроим кнопки сохранения и редактирования для всех вопросов
    var questionss = document.querySelectorAll('.question');
    questionss.forEach(function (item, i, arr) {
        var edit_btn = item.querySelector('.btn-edit-question');
        edit_btn.addEventListener("click", set_edit);

        var applicantForm = item.firstElementChild
        applicantForm.addEventListener('submit', handleFormSubmit)
    });

    //настроим кнопки добавления ответа для всех вопросов
    var answerss = document.querySelectorAll('.form-answers');
    answerss.forEach(function (item, i, arr) {
        var add_btn = item.querySelector('.btn-add-answer');
        add_btn.addEventListener("click", add_answer);
    });

    // кнопка редактирования
    function set_edit(event) {
        var form_question = event.target.parentElement.parentElement.parentElement;
        form_question.classList.remove('form-question-disabled');
        form_question.querySelector('fieldset').disabled = false;
        form_question.querySelector('.btn-edit-question').disabled = true;
        form_question.querySelector('.btn-save-question').disabled = false;
    };

    // кнопка добавления ответа
    function add_answer(event) {
        var answer = document.querySelector('.answer_example').cloneNode(true);
        answer.classList.add('answer');
        answer.classList.remove('answer_example');
        answer.hidden = false;

        var form_answers = event.target.parentElement;

        var count_answers = form_answers.querySelectorAll('.answer').length
        
        answer.querySelector('.answer-check').name = "chanswer_" + count_answers
        answer.querySelector('.answer-text').name = "answer_" + count_answers
        form_answers.insertBefore(answer, event.target);

    };


    function serializeForm(formNode) {
        const { elements } = formNode

        const data = Array.from(elements)
            .map((element) => {
                const { name, type } = element
                const value = type === 'checkbox' ? element.checked : element.value

                return { name, value }
            })
            .filter((item) => !!item.name)

        return data
    }

    async function sendData(data) {
        return await fetch("{{ url_for('api.add_question') }}", {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data),
        })
    }

    async function handleFormSubmit(event) {
        event.preventDefault()

        var form_question = event.target
        var data = serializeForm(form_question)
        data.push({ name: "test_id", value: "{{ test.test_id }}" })
        data.push({ name: "question_id", value: form_question.parentElement.id.slice(8) })

        var { status } = await sendData(data)

        if (status === 200) {
            form_question.parentElement.classList.add('form-question-disabled');
            form_question.querySelector('fieldset').disabled = true;
            form_question.querySelector('.btn-edit-question').disabled = false;
            form_question.querySelector('.btn-save-question').disabled = true;
        }
        else {
            alert('Ошибка! Проверьте заполнение полей')
        }
    };
</script>

{% endblock %}