@charset "windows-1251";

.btn-navy {
    color: white !important;
    background-color:#251A98 !important;
    border-radius: 6px !important;
}

.btn-orange {
    color: white !important;
    background-color:#FB8C5C !important;
    border-radius: 6px !important;
}

.btn-outline-navy {
    color: white !important;
    border-color: #251A98 !important;
    background-color:transparent !important;
    border-radius: 6px !important;
}

.btn-outline-navy:hover {
    color: white !important;
    background-color:#251A98 !important;
}

.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }

  .form-signin .select {
    margin-bottom: 10px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-signin input[type="text"] {
    margin-bottom: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  